*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
}
.condition {
    font-size: 30px;
    margin-bottom: 20px;
    color: rgba(37, 59, 75, 0.867);

}
.example {
    font-size: 30px;
    text-transform:capitalize;
    font-weight: bold;
    color: rgb(41, 53, 81);
    text-align: center;
}
.input {
    height: 50px;
    width: 80vw;
    font-size: 30px;
    padding: 20px;
    border-radius: 5px;
    border: 0;
    box-shadow: rgb(188, 188, 188) 2px 1px 2px 2px;
}
.blocked {
    pointer-events:none;
    user-select: none;
    background-color: rgba(199, 199, 199, 0.66);
    color: white;
}

.next-button {
    height: 50px;
    width: 280px;
    background-color: rgb(68, 146, 57);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    color: white;
}
ul {
    gap: 10px;
    transition: all 0.3s ease-in-out;
    height: auto;
    overflow: hidden;
}
.hide-ul {
    width: 280px;
    border-radius: 5px;
    background-color: rgba(161, 161, 161, 0.434);
    height: 30px;
    color: rgb(99, 107, 97);
    padding: 5px 20px;
}

.show {
    background-color: rgb(154, 188, 134);
    color: white;
}

.hidden {
    height: 0;
    transition: all 0.3s ease-in-out;
}

li {
    text-transform: capitalize;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    min-width: 280px;
    position: relative;
}


.right.active{
    background-color: rgb(68, 146, 57);
    color: white;
    padding: 15px;
    border-radius: 10px 10px 0 0px;
    
}

.question {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0px;
    top: 3px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.your.active{
    background-color: rgba(159, 171, 157, 0.548);
    color: rgb(62, 65, 60);
    padding: 15px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 10px;
    
}

.true {
    background-color: rgba(67, 146, 57, 0.647);
    color: white;
    padding: 15px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 10px;
}

.answer-list {
    
}